<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        Navigation
        <a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    <!-- /sidebar mobile toggler -->
    <!-- Sidebar content -->
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user-material">
            <div class="sidebar-user-material-body">
                <div class="card-body text-center">
                    <a href="#">
                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="img-fluid rounded-circle shadow-1 mb-3" width="80" height="80" alt="">
                    </a>
                    <h6 class="mb-0 text-white text-shadow-dark">Logged in as Admin</h6>
                    <span class="font-size-sm text-white text-shadow-dark">Santa Ana, CA</span>
                </div>

                <div class="sidebar-user-material-footer">
                    <a href="#user-nav" class="d-flex justify-content-between align-items-center text-shadow-dark dropdown-toggle" data-toggle="collapse"><span>My account</span></a>
                </div>
            </div>

            <div class="collapse" id="user-nav">
                <ul class="nav nav-sidebar">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-user-plus"></i>
                            <span>My profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-coins"></i>
                            <span>My balance</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-comment-discussion"></i>
                            <span>Messages</span>
                            <span class="badge bg-success-400 badge-pill align-self-center ml-auto">58</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-cog5"></i>
                            <span>Account settings</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-switch2"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /user menu -->
        <!-- Main navigation -->
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">

                <!-- Main -->
                <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
                <li class="nav-item">
                    <a href="~/customers/index" class="nav-link">
                        <i class="icon-person"></i>
                        <span>
                            Customers
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/account/index" class="nav-link">
                        <i class="icon-user-tie"></i>
                        <span>
                            Staff
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/suppliers/index" class="nav-link">
                        <i class="icon-truck"></i>
                        <span>
                            Suppliers
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/areas/index" class="nav-link">
                        <i class="icon-map"></i>
                        <span>
                            Areas
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/jobcards/index" class="nav-link">
                        <i class="icon-hammer-wrench"></i>
                        <span>
                            Job Reports
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/stocks/index" class="nav-link">
                        <i class="icon-box"></i>
                        <span>
                            Stock Items
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/tasks/index" class="nav-link">
                        <i class="icon-ticket"></i>
                        <span>
                            My Tasks
                        </span>
                    </a>
                </li>





                <!-- /layout -->

            </ul>
        </div>
        <!-- /main navigation -->

    </div>
    <!-- /sidebar content -->

</div>
<!-- /main sidebar -->
